.App {
    margin: 10px;
}

.actions button {
    margin-left: 5px;
}

.alert {
    margin-left: 10px;
}

.add-user {
    margin-top: 100px;
}

.add-user h2, .users-list h1 {
    margin-bottom: 50px;
    margin-top: 20px;
}